html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body{
    background-color: #3E3E3E;
}

.box {
    height: 70vh;
    width: 45vw;
    background-color:#F6F7F8;
    border: 1.7px solid #5F6368;
    margin: auto auto;
    margin-top: 15vh;
    border-radius: 12px;
}

.box form{
    margin: 2vw 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.box p{
  text-align: center;
  margin-top: 1vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box input {
    height: 5vh;
    border-radius: 5px;
    border: 1.5px solid #3E3E3E;
}

.box input[type="text"]{
  width: 100%; 
  padding: 2%;
  margin-top: 1vh; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  display: block; 
}

.box input[type="time"]{
  width: 15%; 
  padding: 2%;
  margin-top: 1%; 
  border: 1px solid #ccc; 
  border-radius: 3px; 

}

.text input{
  margin-bottom: -5vh;
}

.box input[type="submit"]{
  background-color: #3E3E3E;
  color: white;
  margin-top: 1vh;
}







