html {
    box-sizing: border-box;
    font-size: 16px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  ol, ul {
    list-style: none;
  }


.nav{
    height: 12vh; /* */
    width: 100vw;
    background-color: #232122e5;
    display: flex; /* Usa flexbox para alinhar os intens*/
    align-items: center; /* Alinha os itens no centro verticalmente */
    position: fixed; /* Fixa a nav no topo da página */
    z-index: 1000;
}

body{
    height: 100vh;
    
}

.content{
    background-color: #EEEEEA;
    height: 100vh;
    overflow: auto; /* previne o colapso das margens, assim uma não fica em cima da outra*/
}

.options {
    width: 100vw;
    text-align: center;

}
  
  .options li {
    display: inline-block; /*Exibe os itens da lista em ordem de linha*/
    margin: 0 20px; /*Adiciona uma margem lateral de 30px em cada lado, 0 margem nos sentidos cima e baixo*/
}

.options p {
    display: inline-block; /*Para o paragráfo também ficar em linha*/
    margin: 0 30px;
}
  
.options li a{
    text-align: center; /* Centraliza o texto dentro do link */
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white;
    font-size: 3vh; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.options p{
    color: white;
    font-size: 3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 46vw; /*margem a direita, para distanciar das outras páginas*/
    font-size: 2vw;
}

.options li a:hover{
    font-weight: bold; /*Texto fica em negrito ao passar o mouse por cima*/
}

.cartImg{
    height: 5vh;
    margin-bottom: -1vh;
    
}


.form{
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 2%;
    background-color: #dbdcd3c1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao passar o mouse */
    border-radius: 15px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Transições com ease-out */
}

.form:hover{
    transform: scale(1.02); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}

.form h4{
    font-family: "Playwrite DE Grund", cursive;
    font-size: 20px;
    margin-top: -2vh;
    margin-bottom: 1vh;
}

.form input{
    width: 20vw;
    border-radius: 5px;
    border: none;
    padding: 8px;
    margin: 8px 8px;
    font-size: 13px;    
}

.form input:focus {
    border: 1.5px solid #232122; 
    outline: none; /* Remove o contorno padrão */
}

.form input[type="submit"]{
    background-color: #a0a198;
}

/*====================================================================================================================*/


.bannerImg {
    margin-top: 5vh;
    text-align: center;

}

.bannerImg img{
    max-width: 80%;
    height: auto;
}


.title {
    margin-top: 18vh;
    margin-bottom: 6vh;
}

.title h1{
    margin-top: 18vh;
    text-align: center;
    font-size: 35px;
    font-family: "Playwrite DE Grund", cursive;

}

.title h6{
    text-align: center;
    font-size: 15px;
    font-family: "Playwrite DE Grund", cursive;
}

.topSellers{
    margin-top: 8vh;
    margin-bottom: 5vh;
}

.topSellers h1{
    text-align: center;
    font-size: 25px;
    font-family: "Playwrite DE Grund", cursive;
}

.products{
    text-align: center;
}

.box{
    width: 25vw;
    height: 420px;
    background: #dbdcd3c1;
    border-radius: 10px;
    display: inline-block;
    margin: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao passar o mouse */
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Transições com ease-out */
}


.box img{
    padding: 5%;
    max-width: 100%;
    height: auto;
    z-index: 1; /* Garanta que o z-index seja menor que o da .nav */
}

.box h3, p{
    margin-left: 1.5vw;
    font-family: "Playwrite DE Grund", cursive;
    text-align: left;
    color: black;
}

.box h3{
    margin-top: -2vh;
    font-size: 20px;
}

.box p{
    font-size: 15px;
}

.products .box a {
    text-decoration: none; /* Remove o sublinhado dos links */
}

.box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho ao passar o mouse */
    z-index: 2; /* Aumente o z-index no hover para garantir que fique acima da .nav */
}

/*A função ease-out é uma das funções de temporização (timing functions) disponíveis no CSS para controlar como uma animação ou transição progride ao longo do tempo. Ela faz parte do conjunto de funções padrão de temporização CSS, que inclui ease, ease-in, ease-out, ease-in-out, linear e step-start, step-end.*/


