html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==============================================================================*/

.top{
    background-color: #ffdb15;
    height: 14vh;
}

#SearchBar{
    height: 2.5vh;
    margin-top: 2vh;
}

.srcTop{
    text-align: center;
    height: 7vh;
}

.menuTop{
    height: 7vh;
    text-align: center;
    border-style: solid;
}

.navOptions{
    vertical-align: middle;
    margin-left: 2vw;
    text-decoration: none;
    color: black;
    line-height: 6vh;
}

.navOptions:hover{
    padding: 0.5%;
    transition-duration: 0.5s;
    background-color: rgb(0, 0, 0, 0.3);
}

.content{
    height: 86vh;
    background-color: #ebebeb;
    text-align: center; /* só funciona se transformar section em inline block*/
}

.benefits{
    height: 15vh;
    background-color: white;
    border-radius: 1vw;
}

.offer, .firstOffer{
    float: left;
    width: 20vw;
    text-align: left;
    height: 15vh;
    font-size: 2vh;
}

.firstOffer{
    border-right: solid rgb(146, 144, 144);
}

.offerTitle{
    margin-top: 3.5vh;
}

.offerTitle, .subTitle{
    margin-left: 1vw;
}

.contents{
    width: 80vw;
    display: inline-block;
    margin-top: 5vh;
}

.marketItem{
    background-color: white;
    overflow: hidden;
    float: left;
    width: 15vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    height: 190px;
}

.marketItem:hover{
    transition-duration: 0.3s;
    transition-timing-function: linear;
    height: 245px;
}

.form p{
    margin-bottom: 0.5vh;
    margin-top: 4vh;
}

.form input, select{
    width: 30vw;
    height: 4vh;
    border-radius: 0.6vw;
}

#enviar{
    margin-top: 8vh;
    background-color: darkgrey;
    border-color: darkgrey;
}